<!-- Footer -->
<footer class="footer">
  

  <div class="container">
    <ul class="foote_bottom_ul_amrc">
      <li><a href="#home">Home</a></li>
      <li><a href="#service">Servicios</a></li>
      <li><a href="#about">Nosotros</a></li>
      <li><a href="#Plans">Planes</a></li>
      <li><a href="#Contact">Contact</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2017 | Designed With by <a href="#">uncode</a></p>
    <ul class="social_footer_ul">
      <li><a href="http://kalarikendramdelhi.com"><i class="fa fa-facebook-f"></i></a></li>
      <li><a href="http://kalarikendramdelhi.com"><i class="fa fa-twitter"></i></a></li>
      <li><a href="http://kalarikendramdelhi.com"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="http://kalarikendramdelhi.com"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>

  </footer>
  <!-- Footer -->
