<nav class="navbar navbar-expand-lg navbar-inverse mb-4 top-bar border-0 navbar-static-top sps sps--abv">
  <div class="container">
    <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand mx-auto" href="#">Wo<span>osh</span><small>Autolavado</small></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"> <a class="nav-link" href="#home">Inicio </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#service">Servicios</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#about">Nosotros</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#gallery">Planes</a> </li>
        <li class="nav-item"> <a class="nav-link" href="#contact">Contacto</a> </li>
      </ul>
    </div>
  </div>
</nav>
