<!-- Swiper -->
<div class="swiper-container main-slider" id="home">
  <div class="swiper-wrapper">
    <div class="swiper-slide slider-bg-position" id="slide1">
      <svg class="intro" width="500" height="300" viewbox="0 0 200 86">
        <text text-anchor="start" x="10" y="15" class="text text-stroke" clip-path="url(#text1)">Woosh</text>
        <text text-anchor="start" x="10" y="70" class="text text-stroke" clip-path="url(#text2)">Autolavado</text>
        <text text-anchor="start" x="10" y="130" class="text text-stroke" clip-path="url(#text3)">a Domicilio</text>
        <text text-anchor="start" x="10" y="15" class="text text-stroke text-stroke-2" clip-path="url(#text1)">Woosh</text>
        <text text-anchor="start" x="10" y="70" class="text text-stroke text-stroke-2" clip-path="url(#text2)">Autolavado</text>
        <text text-anchor="start" x="10" y="130" class="text text-stroke text-stroke-2" clip-path="url(#text3)">a Domicilio</text>
        <defs>
          <clipPath id="text1">
            <text text-anchor="start" x="10" y="15" class="text">Woosh</text>
          </clipPath>
          <clipPath id="text2">
            <text text-anchor="start" x="10" y="70" class="text">Autolavado</text>
          </clipPath>
          <clipPath id="text3">
            <text text-anchor="start" x="10" y="130" class="text">a Domicilio</text>
          </clipPath>
        </defs>
      </svg>
      <!-- <h2>Servicio de Autolavado a Domicilio ahora en Cancún</h2> -->
    </div>
    <div class="swiper-slide slider-bg-position" id="slide2">
      <h2>No hay mejor sensación que conducir un auto limpio</h2>
    </div>
    <div class="swiper-slide slider-bg-position" id="slide3">
      <h2>Registrate y opten un cupón de descuento</h2>
      <p></p>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
  <!-- Add Navigation -->
  <!-- <div class="swiper-button-prev"><i class="fa fa-chevron-left"></i></div> -->
  <!-- <div class="swiper-button-next"><i class="fa fa-chevron-right"></i></div> -->
</div>
