<!-- Services
  ================================================== -->
<section class="service-sec" id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>Nuestro servicios</h2>
          <p>Nuestros autolavados cuentan con una amplia gama de servicios para el cuidado exterior e interior de tu automóvil.</p>
        </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-plus" aria-hidden="true"></i>
            <h3>Lavado básico</h3>
            <p>Incluye lavado de carroceria, llantas, rines.</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
            <h3>Lavado Plus</h3>
            <p>Lavado de carroceria, llantas, rines y motor.</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
            <h3>Lavado Gold</h3>
            <p>Lavado de carroceria, llantas, rines y motor. Mas protector para la pintura</p>
          </div>
          <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
            <h3>Lavado Elite</h3>
            <p>Lavado de carroceria, llantas, rines y motor. Mas protector para la pintura</p>
            <p>Aspirado y lavado de motor</p>
          </div>
        </div>
      </div>
      <div class="col-md-4"> <img src="./assets/images/carwash-logo-2.jpg" class="img-fluid" /> </div>
    </div>
    <!-- /.row -->
  </div>
</section>
