<!-- About
  ================================================== -->
<section class="about-us parallax-section" id="about">
  <div class="container clearfix">
    <div class="row">
      <div class="col-md-6">
        <!-- <h1 class='text-blue'>Autolavo Express! </h1> -->
        <h1 class='text-blue'><small>Autolavo Express!</small> Uli<br></h1>
        <h2><small>Servicio a domicilio</small></h2>
        <hr>
        <p>Después de visitar otros lavados de automóviles durante muchos años en las áreas circundantes, sentimos que queríamos una experiencia diferente, mejor, más rápida, menos complicada y más completa. Muchos lavadores de autos en nuestra área ofrecen
          solo limpieza exterior, dejando manchas de agua y rayas en nuestros autos. Algunos también ofrecen limpieza interior, pero no son los más completos ni eficientes. Entonces, decidimos construir un híbrido de los dos enfocándonos en brindar un
          servicio mejor y más completo.</p>
        <p>
          Rapidito Car Wash es un autolavado express a domicilio, innovador y profesional, el cual cuenta con el mejor sistema automático de lavado express, al integrar alta tecnología nos permite también apoyar a nuestro medio ambiente, cuidando y ahorrando nuestro
          vital recurso, el agua, a través de un eficiente sistema de reciclado; brindando así en cada visita, una grata experiencia de RAPIDEZ, CALIDAD Y BUEN TRATO.
        </p>
        <button type="button" class="btn btn-success">Conoce más.</button>
      </div>
      <div class="col-md-6">
        <img class="cars" src="./assets/images/cars/car-sedan-7.png " alt="">
      </div>
    </div>
  </div>
</section>
